* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Concert One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tilt Neon', cursive;  
    width: 100%;
    max-width: 1300px;
    margin: auto; 
}


.top{
    text-align: center;
    margin-top: 50px;
}

h1{
    font-size: 45px;
    color: rgb(212, 66, 159);
}

p{
    font-size: 20px;
    padding-top: 40px;
}


